<header class="page-header" role="banner">
	<h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
	<h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>

	<a href="/" class="btn">Home</a>
	<a href="/projects" class="btn">Projects</a>
	<a href="https://t.me/crypticanime" class="btn">Telegram</a>
	<a href="https://discord.gg/dZBB6gh9Sk" class="btn">Share Anime</a>
	<a href="https://trello.com/b/UVr1TydZ/projects" class="btn">Trello</a>
	<a href="https://github.com/cyc-anime" class="btn">Github</a>
</header>