<!DOCTYPE html>
<html lang="en-US">

{% include head.html %}

<body>
	{% include header.html %}

	<main id="content" class="main-content" role="main">
		<h1 style="text-align: center;">{{ page.title }}</h1>
		<p style="text-align: center;"><img src="{{ page.image }}" />
			{% if page.sub %}
				<span style="font-size: 8px; display: table; margin: 0 auto;">{{ page.sub }}</span>
			{% endif %}
			<br>
			<a href="https://myanimelist.net/anime/{{ page.mal }}">MAL</a> | <a href="https://anidb.net/a{{ page.anidb }}">aniDB</a>
		</p>
		<h2 style="margin-top: 1rem;">Overview</h2>
		<p>{{ page.desc }}</p>

		{% if page.issues %}
			<h2>Issues</h2>
			<p>{{ page.issues }}</p>
		{% endif %}

		{% if page.patches %}
			<h2>Patches</h2>
			<p>{{ page.patchinfo }}</p>
		{% endif %}

		<img src="/images/info.png" alt="info">
		<section class="box">
			<p>
				Status: {{ page.status }}<br>
				Affiliated Groups: {{ page.groups }}<br>
				Video Info: {{ page.vidinfo }}
			</p>

			{% if page.r720 and page.r1080 %}
				{% assign allcontent = content | split: "===" %}
				<p>
					<b>720p</b><br>
					File Size: {{ page.size720 }}<br>
					Audio Track 1: {{ page.audio720a }}<br>
					{% if page.audio720b %}
						Audio Track 2: {{ page.audio720b }}<br>
					{% endif %}
					{% if page.audio720c %}
						Audio Track 3: {{ page.audio720c }}<br>
					{% endif %}
					Subtitle Track 1: {{ page.subtitle1 }}
					{% if page.subtitle2 %}
						<br>Subtitle Track 2: {{ page.subtitle2 }}
					{% endif %}
					{% if page.subtitle3 %}
						<br>Subtitle Track 3: {{ page.subtitle3 }}
					{% endif %}
					{% if page.subtitle4 %}
						<br>Subtitle Track 4: {{ page.subtitle4 }}
					{% endif %}
				</p>
				<details>
					<summary>MediaInfo</summary>
					<pre style="margin-bottom: 0px;">{{ allcontent.first }}</pre>
				</details>

				<p>
					<b>1080p</b><br>
					File Size: {{ page.size1080 }}<br>
					Audio Track 1: {{ page.audio1080a }}<br>
					{% if page.audio1080b %}
						Audio Track 2: {{ page.audio1080b }}<br>
					{% endif %}
					{% if page.audio1080c %}
						Audio Track 3: {{ page.audio1080c }}<br>
					{% endif %}
					Subtitle Track 1: {{ page.subtitle1 }}
					{% if page.subtitle2 %}
						<br>Subtitle Track 2: {{ page.subtitle2 }}
					{% endif %}
					{% if page.subtitle3 %}
						<br>Subtitle Track 3: {{ page.subtitle3 }}
					{% endif %}
					{% if page.subtitle4 %}
						<br>Subtitle Track 4: {{ page.subtitle4 }}
					{% endif %}
				</p>
				<details>
					<summary>MediaInfo</summary>
					<pre style="margin-bottom: 0px;">{{ allcontent.last }}</pre>
				</details>

			{% elsif page.r720 %}
				<p>
					File Size: {{ page.size720 }}<br>
					Audio Track 1: {{ page.audio720a }}<br>
					{% if page.audio720b %}
						Audio Track 2: {{ page.audio720b }}<br>
					{% endif %}
					{% if page.audio720c %}
						Audio Track 3: {{ page.audio720c }}<br>
					{% endif %}
					Subtitle Track 1: {{ page.subtitle1 }}
					{% if page.subtitle2 %}
						<br>Subtitle Track 2: {{ page.subtitle2 }}
					{% endif %}
					{% if page.subtitle3 %}
						<br>Subtitle Track 3: {{ page.subtitle3 }}
					{% endif %}
					{% if page.subtitle4 %}
						<br>Subtitle Track 4: {{ page.subtitle4 }}
					{% endif %}
				</p>
				<details>
					<summary>MediaInfo</summary>
					<pre style="margin-bottom: 0px;">{{ content }}</pre>
				</details>
			{% elsif page.r1080 %}
				{% assign allcontent = content | split: "===" %}
				<p>
					File Size: {{ page.size1080 }}<br>
					Audio Track 1: {{ page.audio1080a }}<br>
					{% if page.audio1080b %}
						Audio Track 2: {{ page.audio1080b }}<br>
					{% endif %}
					{% if page.audio1080c %}
						Audio Track 3: {{ page.audio1080c }}<br>
					{% endif %}
					Subtitle Track 1: {{ page.subtitle1 }}
					{% if page.subtitle2 %}
						<br>Subtitle Track 2: {{ page.subtitle2 }}
					{% endif %}
					{% if page.subtitle3 %}
						<br>Subtitle Track 3: {{ page.subtitle3 }}
					{% endif %}
					{% if page.subtitle4 %}
						<br>Subtitle Track 4: {{ page.subtitle4 }}
					{% endif %}
				</p>
				{% if allcontent.size > 1 %}
					{% for mi in allcontent %}
						<details>
							<summary>
								{% comment %}
									this is not gonna be good if/when I do another long series...

									but I'll cross that bridge if/when it comes to it :^)
								{% endcomment %}


								MediaInfo:
								{% if forloop.index < 7 %}
									Season {{ forloop.index }}
								{% elsif forloop.index == 7 %}
									Nyanko-sensei to Hajimete no Otsukai
								{% elsif forloop.index == 8 %}
									Itsuka Yuki no Hi ni
								{% elsif forloop.index == 9 %}
									Movie: Ephemeral Bond (Utsusemi ni Musubu)
								{% elsif forloop.index == 10 %}
									The Stone Waker and the Strange Visitor (Ishi Okoshi to Ayashiki Raihousha)
								{% endif %}
							</summary>
							<pre style="margin-bottom: 0px;">{{ mi }}</pre>
						</details>
					{% endfor %}
				{% else %}
					<details>
						<summary>MediaInfo</summary>
						<pre style="margin-bottom: 0px;">{{ content }}</pre>
					</details>
				{% endif %}
			{% endif %}
		</section>
		<br>
		<img src="/images/download.png" alt="download">
		<section class="box">
			{% if page.links %}
				{% for item in page.links %}
					{% if forloop.first %}
						<h3 style="margin: 0px;">{{ item[0] }}</h3>
					{% else %}
						<h3 style="margin: 15px 0px 0px 0px;">{{ item[0] }}</h3>
					{% endif %}
					<hr class="divider">
					<p style="margin: 5px 0px 0px 0px;">
						{% if item[forloop.index0] == "OVAs" %}
							{% for items in item %}
								{{ items[0] }}
								{% if items[1] %}
									<a href="{{ items[1] }}">Nyaa</a> |
								{% endif %}
								{% if items[2] %}
									<a href="{{ items[2] }}">AniDex</a> |
								{% endif %}
								{% if items[3] %}
									<a href="{{ items[3] }}">Animetosho</a> |
								{% endif %}
								{% if items[4] %}
									<a href="{{ items[4] }}">AnT</a> {% if items[5] %}|{% endif %}
								{% endif %}
								{% if items[5] %}
									<a href="{{ items[5] }}">AB</a> {% if items[6] %}|{% endif %}
								{% endif %}
								{% if forloop.last != true and forloop.first != true %}
									<br>
								{% endif %}
							{% endfor %}
						{% else %}
							{% if item[1] %}
								<a href="{{ item[1] }}">Nyaa</a> |
							{% endif %}
							{% if item[2] %}
								<a href="{{ item[2] }}">AniDex</a> |
							{% endif %}
							{% if item[3] %}
								<a href="{{ item[3] }}">Animetosho</a> |
							{% endif %}
							{% if item[4] %}
								<a href="{{ item[4] }}">AnT</a> {% if item[5] %}|{% endif %}
							{% endif %}
							{% if item[5] %}
								<a href="{{ item[5] }}">AB</a> {% if item[6] %}|{% endif %}
							{% endif %}
							{% if item[6] %}
								<a href="{{ item[6] }}">AB ({{ item[7] }})</a>
							{% endif %}
						{% endif %}
					</p>
				{% endfor %}
			{% elsif page.r1080 and page.r720 %}
				<h3 style="margin: 0px;">720p</h3>
				<hr class="divider">
				<p style="margin: 5px 0px 0px 0px;">
					{% if page.nyaa720 %}
						<a href="{{ page.nyaa720 }}">Nyaa</a> |
					{% endif %}
					{% if page.anidex720 %}
						<a href="{{ page.anidex720 }}">AniDex</a> |
					{% endif %}
					{% if page.at720 %}
						<a href="{{ page.at720 }}">Animetosho</a> |
					{% endif %}
					{% if page.ant720 %}
						<a href="{{ page.ant720 }}">AnT</a> {% if page.ab720 %}|{% endif %}
					{% endif %}
					{% if page.ab720 %}
						<a href="{{ page.ab720 }}">AB</a> {% if page.abs720 %}|{% endif %}
					{% endif %}
					{% if page.abs720 %}
						<a href="{{ page.abs720 }}">AB ({{ page.abstype720 }})</a>
					{% endif %}
				</p>
				<br>
				<h3 style="margin: 0px;">1080p</h3>
				<hr class="divider">
				<p style="margin: 5px 0px 0px 0px;">
					{% if page.nyaa1080 %}
						<a href="{{ page.nyaa1080 }}">Nyaa</a> |
					{% endif %}
					{% if page.anidex1080 %}
						<a href="{{ page.anidex1080 }}">AniDex</a> |
					{% endif %}
					{% if page.at1080 %}
						<a href="{{ page.at1080 }}">Animetosho</a> |
					{% endif %}
					{% if page.ant1080 %}
						<a href="{{ page.ant1080 }}">AnT</a> {% if page.ab1080 %}|{% endif %}
					{% endif %}
					{% if page.ab1080 %}
						<a href="{{ page.ab1080 }}">AB</a> {% if page.abs1080 %}|{% endif %}
					{% endif %}
					{% if page.abs1080 %}
						<a href="{{ page.abs1080 }}">AB ({{ page.abstype1080 }})</a>
					{% endif %}
				</p>
			{% elsif page.r720 %}
				<h3 style="margin: 0px;">720p</h3>
				<hr class="divider">
				<p style="margin: 5px 0px 0px 0px;">
					{% if page.nyaa720 %}
						<a href="{{ page.nyaa720 }}">Nyaa</a> |
					{% endif %}
					{% if page.anidex720 %}
						<a href="{{ page.anidex720 }}">AniDex</a> |
					{% endif %}
					{% if page.at720 %}
						<a href="{{ page.at720 }}">Animetosho</a> |
					{% endif %}
					{% if page.ant720 %}
						<a href="{{ page.ant720 }}">AnT</a> {% if page.ab720 %}|{% endif %}
					{% endif %}
					{% if page.ab720 %}
						<a href="{{ page.ab720 }}">AB</a> {% if page.abs720 %}|{% endif %}
					{% endif %}
					{% if page.abs720 %}
						<a href="{{ page.abs720 }}">AB ({{ page.abstype720 }})</a>
					{% endif %}
				</p>
			{% elsif page.r1080 %}
				<h3 style="margin: 0px;">1080p</h3>
				<hr class="divider">
				<p style="margin: 5px 0px 0px 0px;">
					{% if page.nyaa1080 %}
						<a href="{{ page.nyaa1080 }}">Nyaa</a> |
					{% endif %}
					{% if page.anidex1080 %}
						<a href="{{ page.anidex1080 }}">AniDex</a> |
					{% endif %}
					{% if page.at1080 %}
						<a href="{{ page.at1080 }}">Animetosho</a> |
					{% endif %}
					{% if page.ant1080 %}
						<a href="{{ page.ant1080 }}">AnT</a> {% if page.ab1080 %}|{% endif %}
					{% endif %}
					{% if page.ab1080 %}
						<a href="{{ page.ab1080 }}">AB</a> {% if page.abs1080 %}|{% endif %}
					{% endif %}
					{% if page.abs1080 %}
						<a href="{{ page.abs1080 }}">AB ({{ page.abstype1080 }})</a>
					{% endif %}
				</p>
			{% endif %}

			{% if page.patches %}
				<h3 style="margin: 15px 0px 0px 0px;">Patches</h3>
				<hr class="divider">
				<p style="margin: 5px 0px 0px 0px;"><a href="{{ page.patch }}">Mega</a></p>
			{% endif %}

			{% if page.github %}
				<h3 style="margin: 15px 0px 0px 0px;">Subtitles/Attachments</h3>
				<hr class="divider">
				<p style="margin: 5px 0px 0px 0px;"><a href="{{ page.github }}">Github</a></p>
			{% endif %}
		</section>
</body>

</html>